<html>
  <head>
    <title>Organiser</title>
    <style>
      body {
        font-family:"Helvetica", sans-serif;
        font-size:14px;
      }

      h1 {
        font-size:42px;
      }

      th, td {
        padding:5px;
      }

      input[type="text"] {
        width:50%;
        padding:10px;
      }

      input[type="submit"] {
        padding:6px 30px;
      }

      a, a:visited {
        color:#10b5ad;
      }
    </style>
  </head>
  <body>
    <div style="width:960px; margin:60px auto;">
      <%= yield.code_indent(6) %>
    </div>
  </body>
</html>